*,
*::after,
*::before {
  box-sizing: border-box;
}

/* include border and padding in width */

:root {
  font-size: 14px;
  --color-bg: #36454f;
}

body {
  margin: 0;
  background-color: var(--color-bg);
}
